<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.parksodam.breadclock">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/breadclock_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC88PeVOYwp4HxKrm6pTS-optiHHv4jPSA" />

        <activity
            android:name=".BarActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationSomethings" />
        <activity android:name=".set.NoticeActivity" />
        <activity android:name=".NotificationMainActivity" />
        <activity android:name=".set.VersionActivity" />
        <activity android:name=".set.FAQActivity" />
        <activity android:name=".set.HowToUseActivity" />
        <activity android:name=".set.ContactUsActivity" />
        <activity android:name=".set.IntroduceActivity" />
        <activity android:name=".bookmark.BookmarkInformation" />
        <activity android:name=".notice.BreadInformation"></activity>

    </application>

</manifest>