<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.hs.emirim.parksodam.mirimbreadclock2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:largeHeap="true"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC88PeVOYwp4HxKrm6pTS-optiHHv4jPSA" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@menu/action_bar" />
        </activity>


        <activity
            android:name=".BarActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".set.VersionActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".set.FAQActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".set.ContactUsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".set.HowToUseActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".set.IntroduceActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".set.NoticeActivity"
            android:screenOrientation="sensorPortrait" />
        <!--<activity
            android:name=".notice.AlarmLandingPageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />-->

        <!--<service android:name=".notice.LoadAlarmsService" />-->
       <!-- <receiver android:name=".notice.LoadAlarmsReceiver" />-->

        <!-- [START firebase_service] -->
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

    </application>

</manifest>